{% extends 'auctions/layout.html' %}

{% block body %}
<div class="container-fluid">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            {% if author == user.username %}
                <div>
                    {% if item.active %}
                        <form action="{% url 'removeListing' item.id %}"></form>
                            <input type="submit" value="Deactivate" class="btn btn-danger">
                    {% endif %}
                </div>

            {% else %}
                <!--add and remove from Watchlist-->
                <div>
                    {% if item.id == watchitem.item.id %}
                        <form action="{% url 'removeWatchList' item.id %}" method="POST" for="r">
                            {% csrf_token %}
                            This item is already in your Watchlist.
                            <input type="submit" value="Remove" class="btn btn-danger" id="r">
                        </form>
                    {% else %}
                        <form action="{% url 'item' item.id %}" method="POST" for="a">
                            {% csrf_token %}
                            <input type="submit" value="Add this item to your watchlist" id="a">
                        </form>
                    {% endif %}
                </div>
            {% endif %}
            <!--Liting item-->
            <div>
                <p><h1>Listing: {{ item.item }}</h1></p>
                <img src="{{ item.image.url }}" style="width:350px;height:400px;">
                <p><h2>${{ item.price }}</h2></p>
            </div>
            <p> {{item.description }} </p>

            <!--bid-->
            <div class='row'>
                <div class='col'>
                    <form action="{% url 'bid' item.id %}" method='POST'>
                        {% csrf_token %}
                        {% if item.bidItem.all %}
                            <div>
                                Total bid: {{ item.bidItem.count }}
                                <br>
                                Current bid: <strong>${{ highest }}</strong> by 
                                {% ifequal user.username highestBidder %}
                                    <strong>You.</strong>
                                {% else %}
                                    <strong>{{ highestBidder }}</strong>
                                {% endifequal %}
                            </div>
                        {% else %}
                            <div>No Bid yet.</div>
                        {% endif %}
                        <div>
                            {{ bidsform.amount }}
                        <button type='submit' class='btn btn-success'>Bid</button>
                        </div>
                    </form>
                </div>
            </div>

            <!--item detail-->
            <h3>Deatils</h3>
            <ul>
                <li>Listed by: <strong>{{ item.author }}</strong> </li>
                
                {% if item.category %}
                    <li>Category: {{ item.category }}</li>
                {% else %}
                    <li>Category: No Category Listed</li>
                {% endif %}
            
                <li class="text-black-50">Created {{ item.date }}</li>
            </ul>
        </div>

        <!--comment-->
        <div class="col-sm-6">
            <form action="{% url 'comment' item.id %}" method="POST" for="c">
                {% csrf_token %}
                <h4>Add new Comment</h4>
                <div>
                    <div>
                        {{ form.text }}
                    </div>
                </div>  	
                <button type="submit" class="btn btn-secondary" id="c">Submit</button>
            </form>
            <hr>
            <h5>Comments</h5>
            {% if item.comments.all %}
            <div>
            <hr>
            {% for comment in item.comments.all %}
                User: <strong>{{ comment.author }}</strong>
                <p>{{ comment.text }}</p>
                <i class="text-black-50">{{ comment.date }}</i>
                <hr>
            {% endfor %}
            </div>
            {% else %}
                No Comments Found
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}